$body-font: "Open Sans", sans-serif;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-dark: #60106b;
$color-mid: #901CAD;
$color-pale: #CEC8FF;
$color-primary: #3046C5;
$color-secondary: #5637dd;
$header-font: "Lobster", cursive;

a, a:hover {
    color: inherit;
    text-decoration: none;
}
  
body {
    font-family: $body-font;
}

.carousel {
    border: solid #5637DD;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header h2 {
    color: #CEC8FF;
}

.jumbotron {
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
    padding: 30px;
}

.navbar {
    background-color: #901CAD;
}

.row-content {
    border-bottom: 1px ridge;
    min-height: 200px;
    padding: 50px 0;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}