a, a:hover {
  color: inherit;
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif; }

.carousel {
  border: solid #5637DD; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.jumbotron {
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
  margin: 0;
  padding: 30px; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }

.navbar {
  background-color: #901CAD; }

#reserveModal .modal-header {
  background-color: #17A2B8;
  color: white; }

.row-content {
  border-bottom: 1px ridge;
  min-height: 200px;
  padding: 50px 0; }

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }
